{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- LINE CHART -->
        <div class="box box-info">
        <div class="box-header with-border">
            <input type="hidden" id="tags" value="{{ tags }}">
            <h3 class="box-title">Line Chart</h3>

            <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="chart">
            <canvas id="lineChart" style="height:250px"></canvas>
            </div>
        </div>
        <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
    <!-- /.col (RIGHT) -->
</div>
{% endblock %}

{% block js %}
<script src="/static/js/tags/view.js"></script>
{% endblock %}